<ion-header>
  <ion-toolbar>
    <ion-title>My Slips</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" color="primary" routerLink="/slip-create">
    Create a new Slip
  </ion-button>

  <ion-button expand="block" color="primary" routerLink="/slip-list">
    See your slips
  </ion-button>
</ion-content>