<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Your Slips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>Your Slips</ion-label>
    </ion-list-header>
    <ion-item tappable *ngFor="let slip of slipList" routerLink="/slip-detail/{{ slip.id }}">
      {{slip | json}}
      <!-- <ion-label>
        <h2>{{slip?.itemDescription}}</h2>
        <p>Date: <strong>${{slip?.purchaseDate}}</strong></p>
        <ng-container *ngFor="let cat of category">
            <p><strong>{{cat}}</strong></p>
        </ng-container>
      </ion-label> -->
    </ion-item>
  </ion-list>
</ion-content>