<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your Slips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>Your Slips</ion-label>
    </ion-list-header>
    <ion-item tappable *ngFor="let slip of slipList" routerLink="/slip-detail/{{ slip.id }}">
      <ion-label>
        <h2>{{slip?.name}}</h2>
        <p>Ticket: <strong>${{slip?.price}}</strong></p>
        <p>Date: <strong>{{slip?.date}}</strong></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>